[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
Flask-Migrate = "*"
psycopg2-binary = "*"
python-dotenv = "*"
Flask-Marshmallow = "*"
marshmallow-sqlalchemy = "*"
Werkzeug = "*"
pytest = "*"
flask = "*"
flask-bcrypt = "*"
flask-jwt-extended = "*"
flask-sqlalchemy = "*"
marshmallow = "*"
Flask-Cors = "*"
Flask-Limiter = "*"
redis = "*"
Flask-Caching = "*"
celery = "*"
Flask-Mail = "*"
prometheus-flask-exporter = "*"
structlog = "*"
sentry-sdk = {extras = ["flask"], version = "*"}
requests = "*"
gunicorn = "*"

[dev-packages]
pytest = "*"
flask-testing = "*"
pytest-cov = "*"
pytest-timeout = "*"
pytest-ordering = "*"

[requires]
python_version = "3.8"

[scripts]
test = "pytest --cov=app --cov-report=term-missing"
