[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
# Core
python-dotenv = "*"

# Flask
flask = "*"
flask-sqlalchemy = "~=3.0.3"
flask-migrate = "*"
flask-jwt-extended = "*"
flask-bcrypt = "*"
flask-cors = "*"
flask-limiter = "*"
flask-caching = "*"
flask-mail = "*"

# Database
psycopg2-binary = "*"
sqlalchemy = "~=2.0.23"
alembic = "*"
sqlalchemy-serializer = "*"

# Serialization
marshmallow = "*"
marshmallow-sqlalchemy = "*"

# Async & Workers
celery = "*"
redis = "*"

# Monitoring
prometheus-flask-exporter = "*"
gunicorn = "*"
sentry-sdk = {extras = ["flask"], version = "*"}

# Utils
requests = "*"
structlog = "*"
"backports.zoneinfo" = {version = "==0.2.1", extras = ["tzdata"], markers = "python_version < '3.13'"}
tzdata = ">=2024.1"
flask-talisman = "*"

[dev-packages]
pytest = "*"
pytest-cov = "*"
pytest-timeout = "*"
pytest-ordering = "*"
flask-testing = "*"

[requires]
python_full_version = "3.12.5"
python_version = "3.12"

[scripts]
test = "pytest --cov=app --cov-report=term-missing"
start = "gunicorn --config gunicorn_config.py wsgi:app"
