[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
Flask-Migrate = "*"
psycopg2-binary = "*"
python-dotenv = "*"
Flask-Marshmallow = "*"
marshmallow-sqlalchemy = "*"
Werkzeug = "*"
pytest = "*"
flask = "*"
flask-bcrypt = "*"
flask-jwt-extended = "*"
flask-sqlalchemy = "*"
marshmallow = "*"

[dev-packages]
pytest = "*"
flask-testing = "*"

[requires]
python_version = "3.8"
